data
berks-cookbooks
local-mode-cache
fabfile.pyc
.env
.python-version
.kitchen/
.kitchen.local.yml
tests/**/vendor
__pycache__
.mypy_cache
.bundle
vendor/
nodes/*.json
secrets/*.json
.rubocop-https---raw-githubusercontent-com-xinminlabs-rubocop-config-rufo-master-rubocop-yml
