*/target
.DS_store
.bundle
.env
.kitchen.local.yml
.kitchen/
.mypy_cache
.python-version
.rubocop-https---raw-githubusercontent-com-xinminlabs-rubocop-config-rufo-master-rubocop-yml
.vagrant
__pycache__
ublue/butane/images
ublue/butane/ignition/*
berks-cookbooks
chef_guid
cinc_guid
data
fabfile.pyc
local-mode-cache
nodes/*.json
secrets/*.json
tests/**/vendor
vendor/
