[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Fabric3 = "*"
flake8 = "*"
mypy = "*"
black = "*"
isort = "*"
pyyaml = "*"

[pipenv]
allow_prereleases = true
