[Unit]
Description=Caddy Reverse Proxy
DefaultDependencies=yes

[Container]
Image=docker.io/library/caddy:2

ContainerName=caddy
Pod=llama.pod
Volume=%h/.config/tailscale-certs:/etc/certs:ro,Z
Volume=%h/.config/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume=%h/.config/caddy/data:/data:Z
; SecurityLabelDisable=true

[Service]
TimeoutStartSec=60
TimeoutStopSec=30

[Install]
WantedBy=default.target
