[Unit]
Description=Prepare volatile Postfix relay credentials
Before=postfix.service

[Service]
Type=oneshot
RemainAfterExit=yes
LoadCredentialEncrypted=smtp_config:/etc/credstore.encrypted/skillet/smtp_config.cred
ExecStart=/var/usrlocal/bin/skillet smtp prepare
ExecStartPost=/usr/sbin/restorecon -RF /run/postfix/skillet
